<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Login</title>
</head>

<body>

    <h1>Login</h1>

    <h2>{{ErroLogin}}</h2>

    <form action='./logou' method='get' accept-charset="utf-8">
        <label form='mensagem'>Login</label>
        <input type="text" name="login" value="" />
        <label form='mensagem'>Senha</label>
        <input type="password" name="senha" value="" />
        <input type="submit" name="logar" value="LOGAR" />
    </form>

    <h1>Cadastro</h1>

    <h2>{{ErroCadastro}}</h2>

    <form action='./cadastrou' method='POST' accept-charset="utf-8">
        <label form='mensagem'>Nome</label>
        <input type="text" name="nome" value="{{nome}}" />
        <label form='mensagem'>Login</label>
        <input type="text" name="login" value="{{login}}" />
        <label form='mensagem'>Email</label>
        <input type="text" name="email" value="{{email}}" />
        <label form='mensagem'>Senha</label>
        <input type="password" name="senha" value="" />
        <label form='mensagem'>Confirmar Senha</label>
        <input type="password" name="senha1" value="" />
        <input type="submit" name="cadastrar" value="Cadastrar" />
    </form>

    {{!-- Bootstrap --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>