<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <script>
        function popup(){ 
            $('.gray-off').show();
        }
        
        $(document).ready(function() {
            $('.gray-off').on('click', function(e){
                
                $('.gray-off').hide();
            });
            $('.popup').on('click', function(e){
                e.stopPropagation();
            })
        });
      
    </script>

    <title>Agenda</title>
</head>

<body>
    <div class="gray-off">
        <div class="popup">
                <form action="/salvarAtividade" method="POST">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text"  class="form-control"  name="nome">
                </div>

               
                     <div class="form-group">
                        <label>Data</label>
                        <input type="datetime-local" class="form-control"  name="data">
                
                </div>
                  <div class="form-group">
                    <label>Descrição</label>
                    <input type="text"  class="form-control"  name="descricao">
                    </div>
        <input type="submit" class="btn btn-primary mx-auto" value="INSERIR">
    </form>
        </div>
    </div>
    <header>
        <h1>Agenda Comunitária</h1>
    </header>
     <form action = "/atividade" method="GET">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                <input class="search_input" type="text" name="nomeBusca" placeholder="Buscar...">
                <a class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col"><button onclick="popup()">ADICIONAR</button></th>
                <th scope="col">Domingo</th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
                
            </tr>
        </thead>
        <tbody>
            {{#semana}}
            <tr>
                <td id="primary" class="table-dark">  {{@key}}:00</td>
                <td class="bg-primary">
                    <ul>
                    {{#each this.[0] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                    <a href="/atividades/domingo/{{@key}}">...</a>     
                        </li>
                    </ul>
                     
                      
                </td>
                <td class="bg-success">
                   {{#each this.[1] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                  <a href="/atividades/segunda/{{@key}}">...</a>  
                </td>
                <td class="bg-warning">
                     {{#each this.[2] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                   <a href="/atividades/terca/{{@key}}">...</a>  
                </td>
                <td class="bg-danger">
                     {{#each this.[3] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                    <a href="/atividades/quarta/{{@key}}">...</a>  
                    
                     </td>
                <td class="bg-info">  
                     {{#each this.[4] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                    <a href="/atividades/quinta/{{@key}}">...</a>
                </td>
                <td class="bg-primary">
                     {{#each this.[5] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                    <a href="/atividades/sexta/{{@key}}">...</a>
                </td>
                <td class="bg-success">
                     {{#each this.[6] as |item|}}
                        <li><a href="/atividade/view/{{item.id}}">{{item.nome}}</a></li>
                    {{/each}}
                    <a href="/atividades/sabado/{{@key}}">...</a>
                </td>
            </tr>
             {{/semana}}
        </tbody>
    </table>

</body>

</html>

<style>
    h1 {
        font-family: 'Comfortaa', cursive;
        color: white;
        font-weight: 200;
        margin: 0px;
        padding: 0px;
    }
    header {
        background-color: #2d333d;
        text-align: center;
    }
    td {
        width: 200px;
        height: 60px;
        overflow: auto;
        font-family: 'Comfortaa', cursive;
    }
    tr {
        font-family: 'Comfortaa', cursive;
    }
    td:hover {
        color: black;
        background: #ccc;
    }
    .popup{
        display: block;
        position: fixed;
        width: 400px;
        height: 500px;
        top: calc(50% - 250px);
        left: calc(50% - 200px);
        background: #fff;
        border-radius: 5px;
    }
    .gray-off{
        background: rgba(50, 50, 50, 0.8);
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
    }
    .popup form
    {
        padding: 5px;
    }
    button {
        border-radius: 15px;
        background-color: white;
    }
    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #2d333d !important;
    }
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    }
    .search_input{
    color: #2d333d;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }
    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #2d333d;
    }
    .container{
        display:flex;
        margin:0;
        align-content: flex-start;
        margin-bottom: 20px;
    }
    #erro {
        justify-content: center;    
        color: #e74c3c;
        font-family: 'Courier New';
        font-size: 18px;
    }

    a:visited, a:link {
        color: black;
    }

    ::-webkit-scrollbar {
    width: 15px;
    }

    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
    background:rgb(22, 154, 241);
    border-radius: 10px;
    }

</style>